@media screen and (max-width: 670px) {
  
  .header-logo {
    float: none;
    width: 100%;
    margin: 0 85px;
  }

  .header-right {
    float:none;
    display: block;
    padding: 0 10px;
  }

  .header-right li {
    line-height: initial;
    margin-bottom: 5px;
    padding: 0 10px;
  }

  .header-right a {
    text-transform: uppercase;
    font-size: 18px;
    color: rgb(232, 240, 118);
    }

}
